# MySQL Database
DB_HOST=srv1783.hstgr.io
DB_PORT=3306
DB_USER=u212116958_Lucas102026
DB_PASSWORD=Lucas@10Boni@11
DB_NAME=u212116958_bd_frete_amigo

# JWT
JWT_SECRET=sua_chave_secreta_muito_segura_aqui
JWT_EXPIRES_IN=7d

# Server
PORT=3000
NODE_ENV=development
